<div style="margin: 0px auto 0px auto; width: 400px; ">
<h1>Welcome to YELP!</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
 </ul>

<%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %>
</div>
